<!--
  This file will launch the mmWave sensor node and configure a TI mmWave 6843 sensor using a 3D config. This launch file is intended
  to be used to launch the mmWave sensor node on TI's TDA4VM Jacinto Processors, as such a separate command must be used to launch rViz 
  for visualization on a PC.
 -->

<launch>

  <include file="$(find ti_mmwave_rospkg)/launch/6843_3d_TDA4VM.launch">
    <arg name="device_num" value="0" />
    <arg name="tf_args" value="0 0 0 0 0 0" />
    <arg name="com_user" value="/dev/ttyUSB0"/>
    <arg name="com_data" value="/dev/ttyUSB1"/>
  </include>

  <include file="$(find ti_mmwave_rospkg)/launch/6843_3d_TDA4VM.launch">
    <arg name="device_num" value="1" />
    <arg name="tf_args" value="5 5 0 0 0 0" />
    <arg name="com_user" value="/dev/ttyUSB2"/>
    <arg name="com_data" value="/dev/ttyUSB3"/>
    <arg name="node_start_delay" value="20"/>
  </include>

<!--
  <include file="$(find ti_mmwave_rospkg)/launch/6843_3d_TDA4VM.launch">
    <arg name="tf_args" value="-5 5 0 0 0 0 ti_mmwave_pcl ti_mmwave_2 100" />
  </include>

  <include file="$(find ti_mmwave_rospkg)/launch/6843_3d_TDA4VM.launch">
    <arg name="tf_args" value="0 10 0 0 0 0 ti_mmwave_pcl ti_mmwave_3 100" />
  </include>
-->
  
</launch>
